html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.form-dialog {
  padding: 0;
}

.book-form {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 20px 20px 20px;
}

.book-form input {
  margin-bottom: 10px;
}

.display-form {
  display: block;
}

.button {
  padding: 6px 0px;
  border-radius: 2px;
  min-width: 85px;
  display: block;
  margin: 0 auto;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 40px;
}

.card-wrapper {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
  text-align: center;
  margin: 8px 0px;
  margin-left: 8px;
  padding: 15px 15px 25px 15px;
}

.close-btn-container {
  text-align: right;
}

.close-btn {
  font-size: 25px;
}

.card-wrapper .close-btn {
  width: 100%;
  text-align: right;
}

.close-btn:hover {
  cursor: default;
}

article > h3 {
  margin-top: 0;
}

.read {
  background-color: green;
}