body {
  background-color: rgb(218, 218, 218);
}

.new-book-form {
  display: none;
}

.display-form {
  display: block;
}

.reset-btn {
  display: none;
  background-color: black;
  color: white;
}

.button {
  padding: 6px 0px;
  border-radius: 2px;
  min-width: 85px;
}